.m-preview--signup-button
  position: absolute
  right:    10px
.m-preview--features
  color: #fff
  font-weight:     bold
  list-style-type: none
  margin-top:      50px
  i
    margin-right: 10px
.m-preview--image
  margin: auto
